html, body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

body {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-bottom: 40px;
}

.form-app{
	width: 100%;
	max-width: 350px;
	margin: 0 auto;
	
}

form .form-control{
	padding: 10px;
	margin: 10px 0px;
}

form button {
	margin-bottom: 10px;
}

table {
	width: 100%;
}

nav {
	margin-bottom: 40px;
}

.alerta{
	display: none;
	position: fixed;
    top: 60px;
    right: 20px;
    width: 30%;
}
